<?xml version="1.0"?>

<board type="AStar32U4" name="app">
    <info>
        Evidence Analyzer Prop for Cryptology
    </info>

    <defines>
        <define>NUMBER_OF_RFID_TAGS 20</define>
        <define>NUMBER_OF_LEDS 26</define>
    </defines>

    <devices>
        <device name="RFID Device" type="RFID RC522">
            <setting id="ss" value="2"/>
            <setting id="rst" value="3"/>
        </device>
        <device name="LEDs" type="Adafruit NeoPixel">
            <setting id="pin" value="A1"/>
            <setting id="npixels" value="26"/>
        </device>
        <device name="AnalyzeButton" type="Debounced Input">
            <setting id="pin" value="12"/>
            <setting id="debounce_time" value="50"/>
            <setting id="pullup" value="true"/>
        </device>
        <device name="Heartbeat" type="Timed OnOff">
            <setting id="pin" value="13"/>
            <setting id="ontime" value="500"/>
            <setting id="offtime" value="500"/>
        </device>
    </devices>

    <parameters>
        <parameter name="SavedRFID" type="String" count="20">
            <setting id="reset_value" value="XXXXXXXXXX"/>
            <setting id="length" value="10"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>
        <parameter name="RFIDToProgram" type="Integer">
            <setting id="init_value" value="0"/>
            <setting id="use_eeprom" value="false"/>
        </parameter>
    </parameters>

    <modules>
        <module>LED Effect</module>
        <module>Oneshot Timer</module>
    </modules>

    <custom_code>
        <file>application.cpp</file>
        <file>leds.cpp</file>
        <file>leds.h</file>
    </custom_code>
    
    <logging>
        <log_module>APPLICATION</log_module>
    </logging>

    <raat protocol="url" buffer_size="64">
    </raat>
    
</board>
